.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #d5e1ef;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container img {
    border-radius: 15px;
    margin-bottom: 2rem;
}

/* Add some padding inside the card container */
.inner-container {
    text-align: center;
    font-family: "outline", sans-serif;
    width: 288px;
}

.inner-container h4 {
    font-size: 22px;
    line-height: 120%;
    margin: 0px;
    color: #1F314F;
}

.inner-container p {
    font-size: 15px;
    line-height: 140%;
    padding: 16px 16px 0px;
    margin: 0px;
    letter-spacing: 0.2px;
    color: #68778D;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: #d5e1ef;
    }
}